<a href="https://colab.research.google.com/github/20-hayato/machine_learning_test/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1
print("assignment 1")
sum = 0
for i in range(100):
  sum += i+1
print(sum)

assignment 1
5050

In [2]:
# 2
print("assignment 2")
sum_i = 0
for i in range(100):
  sum_i += i+1
  print(sum_i)

assignment 2
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [3]:
# 3
print("assignment 3")
sum_i = 0
for i in range(100):
  sum_i += i+1
  if sum_i % 2 == 0:
    print(sum_i)

assignment 3
6
10
28
36
66
78
120
136
190
210
276
300
378
406
496
528
630
666
780
820
946
990
1128
1176
1326
1378
1540
1596
1770
1830
2016
2080
2278
2346
2556
2628
2850
2926
3160
3240
3486
3570
3828
3916
4186
4278
4560
4656
4950
5050

In [4]:
# 4
import math

print("assignment 4")
print("sqrt of 1~10")
for i in range(10):
  print(math.sqrt(i+1))
print("sin of 60 deg")
print(math.sin(math.radians(60)))
print("cos of 60 deg")
print(math.cos(math.radians(60)))

assignment 4
sqrt of 1~10
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
sin of 60 deg
0.8660254037844386
cos of 60 deg
0.5000000000000001

In [5]:
# 5
print("assignment 5")
for i in range(100):
  if math.sqrt(100-i) >= 7.6:
    print(math.sqrt(100-i))

assignment 5
10.0
9.9498743710662
9.899494936611665
9.848857801796104
9.797958971132712
9.746794344808963
9.695359714832659
9.643650760992955
9.591663046625438
9.539392014169456
9.486832980505138
9.433981132056603
9.38083151964686
9.327379053088816
9.273618495495704
9.219544457292887
9.16515138991168
9.1104335791443
9.055385138137417
9.0
8.94427190999916
8.888194417315589
8.831760866327848
8.774964387392123
8.717797887081348
8.660254037844387
8.602325267042627
8.54400374531753
8.48528137423857
8.426149773176359
8.366600265340756
8.306623862918075
8.246211251235321
8.18535277187245
8.12403840463596
8.06225774829855
8.0
7.937253933193772
7.874007874011811
7.810249675906654
7.745966692414834
7.681145747868608
7.615773105863909

In [6]:
# 6
def judge_multiple_of_35(num):
  if num % 15 == 0:
    print(f"{num} is multiple of 3 and 5")
  elif num % 3 == 0:
    print(f"{num} is multiple of 3")
  elif num % 5 == 0:
    print(f"{num} is multiple of 5")
  else:
    return False

for i in range(50):
  judge_multiple_of_35(i+1)

3 is multiple of 3
5 is multiple of 5
6 is multiple of 3
9 is multiple of 3
10 is multiple of 5
12 is multiple of 3
15 is multiple of 3 and 5
18 is multiple of 3
20 is multiple of 5
21 is multiple of 3
24 is multiple of 3
25 is multiple of 5
27 is multiple of 3
30 is multiple of 3 and 5
33 is multiple of 3
35 is multiple of 5
36 is multiple of 3
39 is multiple of 3
40 is multiple of 5
42 is multiple of 3
45 is multiple of 3 and 5
48 is multiple of 3
50 is multiple of 5

In [7]:
# 7
print("assignment 7")
list = []
for i in range(10):
  list.append(i+1)
print(list)

print("slice of 2-6")
print(list[1:6])

print("slice of 4-8")
print(list[3:8])

assignment 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
slice of 2-6
[2, 3, 4, 5, 6]
slice of 4-8
[4, 5, 6, 7, 8]